<footer class="footer">
  <div class="footer text">
     <p>Made with ❤️ by the Teebeutel-Team.<br>
        <a href="https://entropia.de">Entropia e.V. - Karlsruhe</a></p>
     <p>OSHWA Certifications:
        <a href="https://certification.oshwa.org/de000119.html" target="_blank">DE000119</a>
        <a href="https://certification.oshwa.org/de000117.html" target="_blank">DE000117</a></p>
     <p>This documentation is LICENSED under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a><br>
        The page in generated with <a href="https://antora.org" target="_blank">Antora {{antoraVersion}}</a>. UI is based on the <a href="https://gitlab.com/antora/antora-ui-default" target="_blank">Antora Default UI</a>. Lincensed under MPL-2.0</p>
     <p>{{page.attributes.localdatetime}}</p>
  </div>
  <div class="footer mixed">
     <p>Sponsored by</p>
     <div class="footer images">
        <a href="https://www.pcbway.com/" target="_blank" class="pcbway logo" alt="PCBway logo"/></a>
     </div>
  </div>
  <div class="footer mixed">
     <p>About</p>
     <div class="footer images">
       <a href="https://entropia.de" target="_blank" class="entropia logo" alt="Entropia e.V. logo"></a>
       <a href="https://oshwa.org" target="_blank" class="oshw logo" alt="OSHW logo"/></a>
     </div>
  </div>
</footer>
