<footer class="footer">
  <div class="footer text">
     <p>Made with ❤️ by the Teebeutel-Team.<br>
        <a href="https://entropia.de">Entropia e.V. - Karlsruhe</a></p>
     <p>This documentation is LICENSED under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a><br>
        The page in generated with <a href="https://antora.org" target="_blank">Antora {{antoraVersion}}</a>. UI is based on the <a href="https://gitlab.com/antora/antora-ui-default" target="_blank">Antora Default UI</a>. Lincensed under MPL-2.0</p>
     <p>{{page.attributes.localdatetime}}</p>
  </div>
  <div class="footer images">  
     <div class="entropia logo" alt="Entropia e.V. logo"/></div>
     <div class="oshw logo" alt="OSHW logo"/></div>
  </div>
</footer>
