<header class="header">
  <nav class="navbar" id="navbar">
    <canvas id="triangles-canvas"></canvas>
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">GitHub</a>
          <div class="navbar-dropdown">
	    <a class="navbar-item spacer" href="#">Hardware</a>
            <a class="navbar-item" href="https://github.com/entropia/Teebeutel-Hardware">Mainboard</a>
	    <a class="navbar-item" href="https://github.com/entropia/Teebeutel-Expansion">Expansion</a>
	    <a class="navbar-item spacer" href="#">Software</a>
            <a class="navbar-item" href="https://github.com/entropia/Teebeutel-Firmware">Firmware</a>
            <a class="navbar-item" href="#">Apps</a>
	    <a class="navbar-item spacer" href="#">Documentation</a>
            <a class="navbar-item" href="https://github.com/entropia/Teebeutel-Documentation/">Antora Playbook + UI</a>
          </div>
        </div>
        <!---<a class="navbar-item" href="#">App Repository</a>--->
        <a class="navbar-item" href="https://join.gulas.ch/" style="background-color: var(--color-accent-3);"><b>Get your Teebeutel</b></a>
      </div>
    </div>
  </nav>
</header>
