    <title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} | {{this}}{{/with}}</title>
    <meta property="og:title" content="{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} | {{this}}{{/with}}">
